/* الأساسيات */
body {
  font-family: Arial, sans-serif;
  background-color: black;
  color: white;
  text-align: center;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

header {
  margin-top: 20px;
}

h1 {
  font-size: 30px;
  margin-top: 100px;
}

.small-text {
  font-size: 20px;
  margin-top: 10px;
}

.extra-small-text {
  font-size: 14px;
  margin-top: 5px;
}

.extra-small-textt {
  font-size: 15px;
  margin-top: 5px;
  color: #ff0000;
}
.aaa {
  font-size: 20px;
  margin-top: 7px;
  color: #ffffff;
}

button {
  background-color: #333;
  color: white;
  border: 1px solid #444;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  font-size: 18px;
  border-radius: 5px;
}

button:disabled {
  background-color: #555;
  cursor: not-allowed;
}

button.active {
  background-color: #4eb151;
}

button:hover {
  background-color: #777;
}

button.back-btn {
  background-color: #ff0000;
  margin-top: 10vh;
}

button.back-btn:hover {
  background-color: #f38383; /* اللون الأخف عند التمرير */
}

/* تلوين الفصول المتوفرة */
button.available {
  background-color: white;
  color: black;
}

button.available:hover {
  background-color: #ff0000;
}


/* إضافة الأنماط للزرين في الجزء العلوي الأيمن */
.social-buttons {
  position: absolute;
  top: 20px;
  right: 20px;
}

.telegram-btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 20px;
  color: white;
  text-align: center;
  border-radius: 5px;
  margin-left: 10px;
  text-decoration: none;
}

.telegram-btn.red {
  background-color: red;
}

.telegram-btn.green {
  background-color: rgb(67, 167, 67);
}

.telegram-btn:hover {
  opacity: 0.8;
  background-color: rgb(125, 146, 125);
}

/* تخصيص زر المحاضرات باللون الأزرق */
.lecture-btn {
  display: block;
  padding: 1vw 2vh;
  font-size: 21px;
  background-color: #1d88fa;
  color: white;
  margin-bottom: 2vw;
  text-align: center;
  border-radius: 10px;
  margin-left: 1px;
  text-decoration: none;
}

/* تغيير اللون عند التمرير على الزر */
.lecture-btn:hover {
  background-color: #84b2e4; /* أزرق داكن عند التمرير */
}

/* تحديد حالة غير نشطة للأزرار المعطلة */
.lecture-btn:disabled {
  background-color: #ccc; /* لون رمادي للأزرار غير النشطة */
  color: #666; /* لون النص الرمادي للأزرار غير النشطة */
  cursor: not-allowed;
}
/* زر الفصل */
.class-btn.available {
  background-color: #fff; /* لون الخلفية الطبيعي */
  color: black;
  padding: 10px 20px;
  font-size: 16px;
  border: 1px solid #ccc;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
}

/* تغيير اللون عند الضغط على الزر */
.class-btn.active {
  background-color: red; /* تلوين الزر باللون الأحمر عند الضغط عليه */
  color: white; /* تغيير لون النص ليكون أبيض */
}

/* تغيير لون زر الأستاذ حسين */
.teacher-btn.teacher-hussein {
  background-color: #4CAF50; /* اختر اللون الذي تفضله */
  color: white;
}

.teacher-btn.teacher-hussein:hover {
  background-color: #94c997; /* اللون عند التمرير */
}
