/* الأساسيات */
body {
  font-family: Arial, sans-serif;
  background-color: rgb(0, 0, 0);
  color: white;
  text-align: center;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

header {
  margin-top: 20px;
}

h1 {
  font-size: 30px;
  margin-top: 100px;
}

.small-text {
  font-size: 20px;
  margin-top: 10px;
}

.extra-small-text {
  font-size: 14px;
  margin-top: 5px;
}

.extra-small-textt {
  font-size: 15px;
  margin-top: 5px;
  color: #ff0000;
}


/* إضافة الأنماط للزرين في الجزء العلوي الأيمن */
.social-buttons {
  position: absolute;
  top: 20px;
  right: 20px;
}

.telegram-btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 20px;
  color: white;
  text-align: center;
  border-radius: 5px;
  margin-left: 10px;
  text-decoration: none;
}

.telegram-btn.red {
  background-color: red;
}

.telegram-btn.green {
  background-color: rgb(67, 167, 67);
}

.telegram-btn:hover {
  opacity: 0.8;
  background-color: rgb(125, 146, 125);
}

/* تغيير لون زر الأستاذ حسين */
.teacher-btn.teacher-hussein {
  background-color: #4CAF50; /* اختر اللون الذي تفضله */
  color: white;
}

.teacher-btn.teacher-hussein:hover {
  background-color: #94c997; /* اللون عند التمرير */
}
.teacher-btn {
  background-color: #5b615b;
  color: white;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  text-align: center;
  font-size: 18px;
  border-radius: 5px;
  text-decoration: none;
}
.teacher-btn:hover {
  background-color: #7d837e; /* اللون عند التمرير */
}
.teacher-btnn {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  text-align: center;
  font-size: 18px;
  border-radius: 5px;
  text-decoration: none;
}
.teacher-btnn:hover {
  background-color: #94c997; /* اللون عند التمرير */
}

